/* Color palette */

$color-grey-1: #ffffff;
$color-grey-2: #f4f6fb;
$color-grey-3: #edeff5;
$color-grey-4: #e3e4e9;
$color-grey-5: #d2d5de;
$color-grey-6: #9da5bc;
$color-grey-7: #5d6b7a;
$color-grey-8: #323e4c;
$color-grey-9: #26313d;
$color-blue-1: #6287b3;
$color-blue-2: #496a90;
$color-green-1: #6bbac2;
$color-green-2: #5d90a3;
$color-red-1: #e27276;
$color-red-2: #d95d54;
$color-orange-1: #f09339;


